<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Yjun\OneDrive - Asia Pacific University\A.P.U\Y1 Sem 2\Object Oriented programming\Ioop assignment3\myDB.mdf;Integrated Security=True"/>
	</appSettings>
</configuration>